<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<dom-module id="shadow-p-app">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
      }
      div {
        width: 100%;
        height: 100%;
        background-color: lightblue;
      }
      paper-input {
        display: inline-block;
        width: 100px;
      }
    </style>
    <div>
      <label>
        <span>Something: </span>
      </label>
      <paper-input id="myInput" value="{{textInput}}"></paper-input>
      <label>
        <span>Repeating Something: </span>
      </label>
      <span id="output">[[textInput]]</span>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ShadowPApp extends Polymer.Element {
      static get is() { return 'shadow-p-app'; }
      static get properties() {
        return {
          textInput: {
            type: String,
            value: ''
          }
        };
      }
    }

    window.customElements.define(ShadowPApp.is, ShadowPApp);
  </script>
</dom-module>
