<link rel="import" href="../polymer/polymer-element.html">
<dom-module id="soma-math">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h5>background = {{background}}</h5>
    <content></content>
    <div style="max-width: 260px; background-color: #F8F8E0; padding: 10px 10px 10px 10px;">
      When $a \ne 0$, there are two solutions to $ax^2 + bx + c = 0$ and they are:
      $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}$$
    </div>
  </template>

  <script>

    /**
     * `soma-math`
     * Renderiza LaTeX in-line e em bloco.
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SomaMath extends Polymer.Element {
      static get is() { return 'soma-math'; }
      static get properties() {
        return {
          background: {
            type: Boolean
          }
        };
      }
    }

    window.customElements.define(SomaMath.is, SomaMath);
  </script>
</dom-module>
